
header {
    padding: 50px 25px;

    @media only screen and (min-width: 640px) {
		max-width: 1300px;
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 25px;
	}

    .header_inner {
        display: block;

        @media only screen and (min-width: 640px) {
            display: grid;
            grid-template-columns: 3.5fr 1fr;
        }
    }

    .logo {
        position: absolute;
        right: 25px; 
        right: 0;
        top: 60px;

        @media only screen and (min-width: 640px) {
            position: fixed;
        }
    }
    
    .logo img {
        width: 120px;
        transform: rotate(90deg);
    }

    .headline_color {
        color: #90e3b6;
    }

    .filter_btns {
        margin-top: 20px;
        text-align: center;
        margin-left: 10px;

        @media only screen and (min-width: 640px) {
            text-align: left;
            margin-left: 0px;
        }
    }

    .icon_header {
        text-align: center;

    }
}