* {
    box-sizing: border-box;
    margin: 0;
}

html { 
    overflow-y: scroll; 
}

body {
    background: #fafafa;
    font-family: 'National 2', sans-serif;
    font-size: 11px;
    font-weight: lighter;

    @media only screen and (min-width: 540px) {
        font-size: 14px;
    }
}
